.label {
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: 400;
}

.container {
  padding-bottom: 30px;
  display: flex;
  align-items: center;
}

.input {
  width: 40%;
}

.button {
  margin: 0 20px;
}
