.label {
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: 400;
}

.container {
  padding-bottom: 30px;
  display: flex;
  align-items: center;
}

.input {
  width: 40%;
}

@media all and (max-width: 768px) {
  .input {
    width: 70%;
  }
}

.button {
  margin: 0 20px;
}

.loader {
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
